[submodule "messenger_project/rapidsms_httprouter_src"]
	path = messenger_project/rapidsms_httprouter_src
	url = git://github.com/unicefuganda/rapidsms-httprouter
[submodule "messenger_project/rapidsms"]
        path = messenger_project/rapidsms
        url = git://github.com/unicefuganda/rapidsms

