{% extends "layout.html" %}
{% block content %}
<p>
    <table>
    <tr>
        {% for backend, prjs in pbackends.items %}
           <td colspan="{{ prjs|length }}" align="center">{{ backend }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for b, prjs in pbackends.items %}
            {% for prj in prjs %}
               <td><a href='{% url billing-detail b prj %}'>{{ prj }}</a></td>
            {% endfor %}
        {% endfor %}
    </tr>
    </table>
</p>
<table>
<tr>
<td>Year</td>
<td>Month</td>
{% for backend in backends %}
    <td colspan="{{ 2|add:db_count }}">{{ backend }}</td>
{% endfor %}
</tr>

<tr>
<td colspan = "2">&nbsp;</td>
{% for backend in backends %}
	<td colspan="{{ db_count }}">Incoming</td>
	<td colspan="{{ db_count }}">Outgoing</td>
{% endfor %}
</tr>

{% for year, yeardict in messages.items %}
    {% for month, monthdict in yeardict.items %}
        <tr>
            <td>{{ year }}</td>
            <td>{{ month }}</td>
	        {% for backend, backenddict in monthdict.items %}
	            {% for direction, total in backenddict.items %}
	               <td>{{ total }}</td>
	            {% endfor %}    
	        {% endfor %}
        </tr>
    {% endfor %}
{% endfor %}

</table>

{% endblock %}